---
import BaseLayout from "@layouts/BaseLayout.astro";
import CTA from "@components/CTA.astro";
import Landing from "@components/Landing.astro";

// Optimize our landing image and pass it as props to the BaseLayout (for preloading) and Landing (for rendering)
import landingImage from "@assets/images/landing.jpg" // <-- THE PATH TO THE ASSET YOU WANT TO PRELOAD - The asset must live in src
import { getImage } from "astro:assets";
const optimizedImage = await getImage({src: landingImage, format: 'avif'})
---

<BaseLayout
  title="Projects"
  description="Meta description for the page"
  preloadedImage = {optimizedImage}
>
  <!-- ============================================ -->
  <!--                    LANDING                   -->
  <!-- ============================================ -->

  <Landing 
    title="Project 2"
    image={optimizedImage}
  />

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-2367">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Suburban Serenity Project</h1>
            <p class="cs-text">
                The Suburban Serenity Project transformed a simple backyard into a peaceful retreat, featuring native plants, a stone pathway, and a cozy patio. Designed for relaxation and low maintenance, it’s the perfect escape just outside the door.
            </p>
            <div class="cs-button-box">
                <a href="" class="cs-button-solid">Like what you see? contact us! </a>
            </div>
        </div>
        <!--Hero Image-->
        <picture class="cs-picture">
            <!--Mobile-->
            <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/rkthvltxq/minnesota-landscape-arboretum-977045_1920.jpg?updatedAt=1750466482484">
            <!--Tablet-->
            <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/rkthvltxq/minnesota-landscape-arboretum-977045_1920.jpg?updatedAt=1750466482484">
            <!--Desktop-->
            <source media="(min-width: 1024px)" srcset="https://ik.imagekit.io/rkthvltxq/minnesota-landscape-arboretum-977045_1920.jpg?updatedAt=1750466482484">
            <img aria-hidden="true" decoding="async" src="https://ik.imagekit.io/rkthvltxq/minnesota-landscape-arboretum-977045_1920.jpg?updatedAt=1750466482484" alt="therapy" width="630" height="760">
        </picture>
    </div>
</section>
                                


  <CTA />
</BaseLayout>

<style lang="less">
  /* PAGE-SPECIFIC STYLES FOR THE PROJECTS PAGE */

/*-- -------------------------- -->
<---            Hero            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero-2367 {
        /* 116px - 164px top */
        /* 60px - 100px  bottom */
        padding: clamp(7.25rem, 16.82vw, 10.25rem) (16/16rem)
            clamp(3.75rem, 7.82vw, 6.25rem);
        background-color: #FBF9F5;
        /* clips the svg wave from overflowing */
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: (20/16rem);
        }

        .cs-content {
            text-align: left;
            width: 100%;
            /* 24px - 24px top & bottom */
            /* 16px - 60px left & right */
            padding: clamp(1.5rem, 6vw, 3.75rem) clamp(1rem, 6vw, 3.75rem);
            box-sizing: border-box;
            background-color: #fff;
            border-radius: (16/16rem);
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
        }

        .cs-title {
            /* 39px - 61px */
            font-size: clamp(2.4375rem, 5vw, 3.8125rem);
            font-weight: 900;
            line-height: 1.2em;
            text-align: inherit;
            /* 23 characters including spaces wide */
            max-width: 23ch;
            /* 24px - 32px */
            margin: 0 0 clamp(1.5rem, 3vw, 2rem) 0;
            padding-bottom: (48/16rem);
            color: var(--headerColor);
            border-bottom: 1px solid #D2D8DF;
            position: relative;
        }

        .cs-text {
            /* 16px - 20px */
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            text-align: inherit;
            width: 100%;
            max-width: (531/16rem);
            /* 28px - 40px */
            margin: 0 0 clamp(1.75rem, 3.92vw, 2.5rem) 0;
            color: var(--bodyTextColor);
        }

        .cs-button-box {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            /* 16px - 20px */
            gap: clamp(1rem, 1.9vw, 1.25rem);
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            overflow: hidden;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--primary);
            border-radius: (100/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-button-phone {
            font-size: (16/16rem);
            text-decoration: none;
            font-weight: bold;
            color: var(--headerColor);
            display: flex;
            align-items: center;
            gap: (8/16rem);
        }

        .cs-icon-wrapper {
            /* 46px - 56px */
            width: clamp(2.875rem, 6vw, 3.5rem);
            height: clamp(2.875rem, 6vw, 3.5rem);
            border-radius: 50%;
            background-color: var(--secondary);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-picture {
            width: 100%;
            /* 320px - 520px */
            height: clamp(20rem, 80vw, 32.5rem);
            /* 100px - 200px */
            border-radius: (16/16rem);
            /* clips the img tag corners */
            overflow: hidden;
            display: block;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes image act as a background image */
                object-fit: cover;
                /* ensures the top of the images is at the top of the container, no heads getting cut off */
                object-position: top;
            }
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #hero-2367 {
        .cs-container {
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }

        .cs-content {
            width: 50vw;
            max-width: (630/16rem);
            /* prevents flex-box from squishing it */
            flex: none;
            align-items: flex-start;
        }

        .cs-title,
        .cs-text {
            text-align: left;
        }

        .cs-picture {
            height: auto;
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #hero-2367 {
        .cs-title {
            padding-bottom: (200/16rem);
        }
    }
}
                                
</style>
